body{
    font-family: Arial, Helvetica, sans-serif;
    /*background-color: #CCCCCC;*/
}

/*#mainbody{*/
/*    position:absolute;*/
/*    left:0;*/
/*    right:0;*/
/*    margin:0 auto;*/
/*}*/

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.col-left{
    width: 22.9%;
    float: left;
    height: 700px;
    background-color: white;
}

.col-right{
    width: 22.9%;
    float: right;
    height: 700px;
    background-color: white;
}

.col-line{
    width: 0.1%;
    float: left;
    height: 700px;
    background-color: rgb(214, 214, 214);
}

.left-button{
    width: 60%;
    margin-right: 10%;
    height: 60px;
    float: right;
    background-color: white;
    font-size: 1.2em;
    color: rgb(100, 100, 100);
}

.search{
    width: 85%;
    margin-left: 5%;
    height: 60px;
    float: left;
    background-color: white;
    font-size: 1.2em;
    color: rgb(100, 100, 100);
}

.right-trends{
    width: 85%;
    margin-left: 5%;
    height: 400px;
    float: left;
    background-color: rgb(239, 244, 247);
    font-size: 1.2em;
    color: rgb(100, 100, 100);
}

.wrapper{
    border: 2px rgba(17, 143, 255, 0.82) solid;
    border-radius: 35px;
    box-shadow: -50px -50px rgba(0, 115, 255, 0.25);
    background-color: white;
}

#title{
    /*border: 1px #0078e7 solid;*/
    width: 30%;
    /*padding: 5px;*/
    /*background-color: #0078e7;*/
    color: #0078e7;
    border-top-left-radius: 30px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 1em;
}

#textWrapper{
    margin: 10px 1%;
    width: 98%;

}

textarea {
    display: block;
    margin: 10%;
    width: 96%;
    padding: 2%;
    height: 200px;
    text-align: start;
    font-size: 1.5em;
    resize: none;
    overflow: auto;
    border-radius: 20px;
    border: none;
    outline: none;
}

#post {
    font-size: 1em;
    padding: 15px;
    margin-top: 10px;
    background-color: rgb(19, 141, 255);
    border: rgb(19, 141, 255) 1px solid;
    color: white;
    box-shadow: none;
    /*border: none;*/
    width: 20%;
    display: block;
    /*position: relative;*/
    float: right;
    border-bottom-right-radius: 33px;
}

#post:hover {
    transition: background-color 0.3s ease-in-out;
    background-color: #0078e7;
    color: white;
}