<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Your Keywords are:</p>
<p>{{keywords}}</p>
   <form action = "http://localhost:5000/success/Kindle" method = "post">
    <p>Kindle Store:</p>
    <button type="submit" class="btn btn-default" > Kindle Store </button>
   </form>
<form action = "http://localhost:5000/success/Food" method = "post">
    <p>Food Store:</p>
    <button type="submit" class="btn btn-default" > Food Store </button>
   </form>

<form action = "http://localhost:5000/success/Steam" method = "post">
    <p>Steam Store:</p>
    <button type="submit" class="btn btn-default" > Steam Store </button>
   </form>
</body>
</html>